.button {
  padding: 18px 0 22px 0;
  @include helvetica;
  font-size: 20px;
  color: $color-black;
  transition: background-color 240ms $t-1;
  margin: 35px 0 15px 0;
  display: block;
  text-align: center;
  
  @include mq($from: $breakpoint-small) {
    padding: 18px 40px 22px 40px;
    display: inline-block;
  }

  &.-white {
    background-color: $color-white;

    &:hover {
      background-color: darken($color-white, 15%);
      text-decoration: none;
      color: $color-black;
    }
  }
}
