.image-text-block {
  background-color: $color-red;
  margin-bottom: 90px;

  .row {
    flex-wrap: wrap;
    display: flex;
  }

  .-image {
    @include col(12);
    display: none;

    @include mq($from: $breakpoint-small) {
      @include col(4);
      display: block;
      margin-bottom: -130px;
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .-logo-image {
    width: 250px;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .-text {
    @include col(12);

    @include mq($from: $breakpoint-small) {
      @include col(8);
    }

    h2 {
      @include secondary-title($color-white);
      margin-bottom: 40px;
    }

    p {
      @include home-paragraph;
    }
  }
}
