.image-text-block {
  background-color: $color-red;
  margin-bottom: 90px;

  .row {
    flex-wrap: wrap;
    display: flex;
  }

  .-image {
    @include col(12);
    display: none;
    position: relative;

    @include mq($from: $breakpoint-small) {
      @include col(4);
      display: block;
    }

    img {
      max-width: 280px;
      width: 100%;
      height: auto;
      position: absolute;
      bottom: -130px;
      left: 0;
    }
  }

  .-logo-image {
    @include span(12);

    @include mq($from: $breakpoint-small) {
      @include span(9);
    }

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .-detail {
    @include detail-paragraph;
    margin-bottom: 55px;

    .-underline {
      text-decoration: underline;
    }
  }

  .-text {
    margin-top: -95px;
  }

  .-right-col {
    @include col(12);

    @include mq($from: $breakpoint-small) {
      @include col(8);
    }

    h2 {
      @include secondary-title($color-white);
      margin-bottom: 40px;
    }

    p {
      @include paragraph($color-white);
    }
  }
}
