.nav {
  padding: 30px 20px;

  .-content {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .logo {

  }

  .authenticate {
    position: absolute;
    right: 0;
  }

  .-marketing {

  }

  .-logged-in {

  }
}
