.nav {
  padding: 40px 20px 20px 20px;
  background-color: $color-red;

  .-content {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .logo {
    width: 280px;

    img {
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }

  .-marketing {

  }

  .-logged-in {

  }
}
