.nav {
  padding: 40px 20px 20px 20px;
  background-color: $color-red;

  .-content {
    display: flex;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .logo {
    @include main-title($color-white);
  }

  .-marketing {

  }

  .-logged-in {

  }
}
