@mixin main-title($color) {
  @include helvetica;
  color: $color;
  font-size: 40px;
}

@mixin secondary-title($color) {
  @include helvetica;
  color: $color;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: .5px;
}

@mixin item-title($color) {
  @include helvetica;
  color: $color;
  font-size: 24px;
  font-weight: 500;
}

@mixin paragraph($color) {
  @include courier;
  color: $color;
  font-size: 20px;
}

@mixin detail-paragraph {
  @include courier;
  color: $color-white;
  font-size: 16px;
}
